body{
    font-family: Arial, Helvetica, sans-serif;

}

header h1{
    color: #ec183f;
    font-size: 45px;

}

.data-postagem{
    font-weight: 700;
}

img{
    width: 100%;
}

ul.redes-sociais{
    text-align: center;
    list-style: none;
}

ul.redes-sociais li{
    display: inline-block;
}



ul.redes-sociais li a img {
    width: 40px;
    margin: 10px;
}